<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="db" connectionString="Data Source=LAB5-131;Initial Catalog=db_desktop;User ID=sa;Password=aptech" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
</configuration>